{% extends 'base.html' %}
{% block content %}
<div class="container mt-4">
    <div class="text-center">
        <h1 class="display-4">Кликер времени Жизни!</h1>
        <p class="lead">Количество кликов - <span class="badge badge-primary">{{ current_user.clicks }}</span></p>
        <a href="{{ url_for('click') }}" class="btn btn-primary btn-lg">Кнопка</a>
    </div>
</div>
{% endblock %}


<!--{% extends 'base.html' %}  {# Наследуем структуру от базового шаблона base.html #}-->

<!--{% block content %}  {# Начинаем блок `content`, который определен в базовом шаблоне #}-->
<!--<div class="container mt-4">  {# Создаем контейнер с отступами сверху (mt-4 означает margin-top: 4rem) #}-->
<!--    <div class="text-center">  {# Центрирование содержимого внутри контейнера #}-->
<!--        <h1 class="display-4">Кликер!</h1>  {# Заголовок первого уровня с классом display-4 для крупного текста #}-->
<!--        <p class="lead">Количество кликов - <span class="badge badge-primary">{{ current_user.clicks }}</span></p>  {# Пояснительный текст с подсчетом кликов текущего пользователя. Значение кликов берется из переменной current_user.clicks #}-->
<!--        <a href="{{ url_for('click') }}" class="btn btn-primary btn-lg">Кнопка</a>  {# Ссылка на маршрут click, оформленная как крупная кнопка (классы btn, btn-primary, btn-lg). Нажатие на эту кнопку увеличивает счетчик кликов #}-->
<!--    </div>-->
<!--</div>-->
<!--{% endblock %}  {# Закрываем блок `content` #}-->